$border-radius-xs: 0px;
$border-radius-s: 4px;
$border-radius-m: 6px;
$border-radius-l: 12px;
$border-radius-xl: 18px;

$box-shadow-s: 0 2px 6px 1px #24262914;
$box-shadow-m: 0 4px 12px 1px #24262914;
$box-shadow-l: 0 8px 24px 1px #24262914;

$transition-s: 0.2s;
$transition-m: 0.4s;
$transition-l: 0.8s;
